<section class="product-area ptb-100">
    <div class="container" id="products_page">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img src="/img/prod1.jpg" alt="item">

                        <a href="#" class="add-to-cart-btn" data-item="prod1" data-title="Gaming Mobile Phone" data-price="629.50">
                            Add to Cart
                            <i class="icofont-shopping-cart">
                                <span></span>
                            </i>
                        </a>
                    </div>

                    <div class="product-content">
                        <h3>Gaming Mobile Phone</h3>

                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col-lg-5">
                                <h5>$629.50 <span>$673.00</span></h5>
                            </div>

                            <div class="col-lg-7">
                                <ul>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a href="/cart" class="btn btn-block btn-primary btn-small d-none" id="cart_prod1">
                        Goto Cart <i class="icofont-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img src="/img/prod2.jpg" alt="item">

                        <a href="#" class="add-to-cart-btn" data-item="prod2" data-title="Travel Laptop Backpack" data-price="25.99">
                            Add to Cart
                            <i class="icofont-shopping-cart">
                                <span></span>
                            </i>
                        </a>
                    </div>

                    <div class="product-content">
                        <h3>Travel Laptop Backpack</h3>

                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col-lg-5">
                                <h5>$25.99 <span>$29.99</span></h5>
                            </div>

                            <div class="col-lg-7">
                                <ul>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a href="/cart" class="btn btn-block btn-primary btn-small d-none" id="cart_prod2">
                        Goto Cart <i class="icofont-arrow-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-product">
                    <div class="product-img">
                        <img src="/img/prod3.jpg" alt="item">

                        <a href="#" class="add-to-cart-btn" data-item="prod3" data-title="Freestyle BMX Bike" data-price="249.00">
                            Add to Cart
                            <i class="icofont-shopping-cart">
                                <span></span>
                            </i>
                        </a>
                    </div>

                    <div class="product-content">
                        <h3>Freestyle BMX Bike</h3>

                        <div class="row h-100 justify-content-center align-items-center">
                            <div class="col-lg-5">
                                <h5>$249.00 <span>$279.00</span></h5>
                            </div>

                            <div class="col-lg-7">
                                <ul>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                    <li><i class="icofont-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <a href="/cart" class="btn btn-block btn-primary btn-small d-none" id="cart_prod3">
                        Goto Cart <i class="icofont-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>