<section class="error-area ptb-100" id="return_page">
	<div class="container">
		<div class="notfound">
			<div class="notfound-404 smile"></div>
			<h3 class="mb-4">Order has been submitted successfully!</h3>
			<span>Thank you for choosing us!</span>
			<p>If you have any issue please contact us at <a href="mailto:support@blockmove.io">support@blockmove.io</a>.</p>
			<a href="/" class="btn btn-primary mt-3">Back To Homepage</a>
		</div>
	</div>
</section>